@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  background-color: #f8f9fa;
}

.nav-main {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}

.nav {
  background: linear-gradient(-45deg, #525cee, #e73c7e, #1196e6, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@media (max-width: 768px) {
  .nav {
    padding: 10px;
  }
}

.mainContainer {
  background-image: linear-gradient(
      to left,
      rgb(248, 249, 250) 40%,
      rgba(248, 249, 250, 0)
    ),
    url(https://i.ibb.co/WHNbxPZ/bot-analytics-hero-illustration-3-1.png);
  padding: 120px 0px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 8% 5% 5% 5%;
  background-position: calc(50% + 50px) 50%;
}
.information {
  padding: 73px 0px 0px 0px;
  /* margin: 8% 5% 5% 5%; */
}
@media (max-width: 768px) {
  .mainContainer {
    padding: 80px 0px;
    margin: 18% 5% 5% 5%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}
